.nav-bar {
	width: 100%;
	height: 80px;
	background-color: #AB2A19;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 50px;
}

.nav-bar a {
	text-transform: uppercase;
	text-decoration: none;
}

.nav-bar-logo {
	margin-right: 80px;
}

.nav-bar-logo > a * {
	color: #FFFFFF;
	display: inline-block;
	font-size: 32px;
}

.nav-bar-logo .fa-app-store {
	margin-right: 10px;
}

.nav-bar ul {
	list-style-type: none;
	display: flex;
}

.nav-bar ul > li {
	margin-right: 20px;
}

.nav-bar ul > li > a {
	color: #000000;
	display: inline-block;
	padding: 10px;
	background-color: #ED6B5A;
	border-radius: 5px;
}

.nav-bar ul > li > a:hover {
	background-color: #FF756E;
	transition: all 0.2s linear;
}