.dashboard {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.product-card {
	width: 600px;
	height: 200px;
	background-color: #D34735;
	margin-bottom: 20px;
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.product-image, .product-info {
	display: inline-block;
}

.product-image img {
	height: 160px;
}

.product-info {
	width: calc(100% - 180px);
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.product-info h3 {
	font: 700 32px 'Josefin Sans';
	text-transform: uppercase;
	margin-bottom: 10px;
}

.product-info h4 {
	font: 20px 'Josefin Sans';
	margin-bottom: 10px;
}

.product-info p {
	font: 18px 'Open Sans';
}

.product-info .del-btn {
	position: absolute;
	bottom: 0;
	left: 0;
}

.product-info .edit-btn {
	position: absolute;
	bottom: 0;
	right: 0;
}

.product-info > button {
	background-color: #3AD886;
	padding: 5px;
	border: none;
	border-radius: 5px;
	font-family: "Open Sans";
}